h1 {
  font-size: 8rem;
  font-family: "Lobster", cursive;
  margin: 15;
  text-shadow: 3px 0 #f44335;
}
.container {
  text-align: center;
  margin: auto;
  width: 70%;
}
body {
  background-color: aquamarine;
}
p {
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
}
.dice {
  display: inline-block;
  text-align: center;
}
img {
  width: 80%;
}
button {
  border: none;
  background-color: inherit;
  font-family: "Lobster", cursive;
  font-size: 2rem;
}
h2 {
  font-family: "Indie Flower", cursive;
}
